html {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  height: 100%;
  font-family: Sans-serif;
  line-height: 1.5em;
  color: white;
}

h1 {
  text-align: center;
}

p {
  text-align: right;
}

main {
  position: fixed;
  top: 0;
  left: 120px;
  right: 0;
  bottom: 0;
  overflow: auto;
  background: linear-gradient(135deg, #2dafe0, white);
  height: 100%;
}

table {
  width: 100%;
  empty-cells: hide;
}

table tr td {
  text-align: center;
  vertical-align: middle;
  border: 1px solid;
  width: 33%;
}

table thead tr th {
  text-align: center;
  vertical-align: middle;
  border: 1px solid;
  width: 20%;
}

table tbody tr td {
  text-align: center;
  vertical-align: middle;
  border: 1px solid;
  width: 20%;
}

button {
  text-align: center;
  width: 31%;
  height: 100%;
  vertical-align: middle;
}

* html body {
  padding: 0 0 0 120px;
}

* html main {
  height: 100%;
  width: 100%;
}

#save {
  text-align: center;
  border: 1px solid #2dafe0;
  visibility: hidden;
}

#newset:hover {
  background: #2dafe0;
}

#save:hover {
  background: #2dafe0;
}

#nav {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 120px;
  height: 100%;
  overflow: hidden;
  background: #2dafe0;
}

.innertube {
  margin: 15px;
  height: 90%;
}

.innertube div {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.innertube div h4 {
  justify-content: space-between;
  display: block;
  font-weight: normal;
}

.innertube table {
  height: 100%;
}

#setup tr {
  height: 30%;
}

#analyse tbody tr {
  height: 15%;
}

#analyse {
  visibility: collapse;
}

.btninfo {
  border: none;
  background-color: #5EC2E7;
}
